body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --corp :#ae00ff; 
    background-color: rgba(0, 0, 0, 0.925);
}
.bloco1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.bloco2 {
    display: flex;
    justify-content: center;
    width: 100%;
}
.chapeu {
    width: 11%;
    margin-top: 20px;
    margin-bottom: -5px;
}
.mago1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(42, 42, 43, 0.582);
    width: 80%;
    border: 2px solid rgba(240, 248, 255, 0.815);
    border-radius: 0px 20px;
    margin-bottom: 60px;
    box-shadow: inset 2px 2px 5px #181717c5;
}
.escolhas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-direction: center;
    width: 50%;
}
.imgLivro {
    width: 50%;
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 0px;
}
h2 {
    font-family: 'Catamaran', sans-serif;
    color: #ae00ff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
    text-shadow: 1px 1px 1px #ae00ff71;
}
h3 {
    font-family: 'Cabin', sans-serif;
    color: rgba(240, 248, 255, 0.815);
    font-size: 23px;
    font-weight: 400;
    background-color: rgba(81, 80, 82, 0.582);
    width: 60%;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 0px 20px;
    border: 2px solid rgba(240, 248, 255, 0.815);
    box-shadow: inset 2px 2px 5px #181717c5;
}
p {
    font-family: 'Cabin', sans-serif;
    color: rgba(240, 248, 255, 0.815);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.pergunta {
    padding-right: 10px;
    padding-left: 10px;
}
.borda {
    background-color: rgba(81, 80, 82, 0.582);
    border-radius: 10px;
    border: 2px solid rgba(240, 248, 255, 0.815);
    padding: 5px;
}
button {
    width: 100px;
    padding: 5px;
    margin-bottom: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgba(240, 248, 255, 0.815);
    background-color: rgba(0, 0, 0, 0.925);
    border: 2px solid rgba(240, 248, 255, 0.815);
    border-radius: 10px;
}
.roxo:hover {
    box-shadow: 3px 3px 3px #ae00ff;
}
@media (max-width:769px) {
    .chapeu {
        width: 40%;
    }
    .imgLivro {
        width: 100%;
    }
    .escolhas {
        flex-direction: column;
        width: 30%;
    }
}
@media (max-width:426px) {
    .escolhas {
        width: 50%;
    }
}